.resultsContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-height: 600px;
  overflow-y: auto;
  margin-top: 20px;
  gap: 20px;
}

.resultItem {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border: 2px solid #ffcc00;
  border-radius: 10px;
  padding: 20px;
  width: 300px;
  height: 160px;
  justify-content: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.resultItem h3 {
  margin: 0 0 10px 0;
  color: #333;
}

.resultItem p {
  margin: 5px 0;
}
