.resultsContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  max-width: 800px;
  overflow-y: auto;
  margin-top: 20px;
  gap: 20px;
}

.resultItem {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border: 2px solid #ffcc00;
  border-radius: 10px;
  padding: 20px;
  width: 200px;
  height: 70px;
  justify-content: center;
  cursor: pointer;
}

.resultItem h3 {
  margin: 0 0 10px 0;
  color: #333;
}

.resultItem p {
  margin: 5px 0;
}
